body{
    font-family: 'Roboto Condensed', helvetica, sans-serif;
    background-color: #F8EAE7 !important;
}

div.title{
    width: 90%;
    height: 90%;
}

ol{
padding-left: 0.5em;

}

hr {
    margin: 20px 20px;
}

li{
margin: 10px 0;
}

h1{
    color: #39201B !important;
    font-weight: 400;
    font-size: 2.5em;
    max-width: 800px;
    text-align: center;
    margin: 25px, 25px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

h2{
    color: #39201B !important;
    text-align: left;
}

h3{
    color: #39201B !important;
    font-size: 1.25em;
    font-weight: 300;
    max-width: 800px;
    text-align: left;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
}

div.bio{
    max-width: 800px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

img.bioImage{
    width: 90%;
    margin: 0;
    display: block;
    text-align: left;
}

p.bioText{
    font-weight: 300;
    font-size: 1.05em;
    line-height: 130%;
}

p.bioText > a{
    color: #39201B !important;    
    color: inherit;
}

p.bioText > a:hover{
    background-color: #FFFF00;
}

img.limitImage{
    width: 100%;
    margin: auto;
}

img.multicol3Image{
    width: 30%;
    margin: auto;
    display: inline-block;
}

img.multicol2Image{
    width: 45%;
    margin: auto;
    margin-right: 2.2em ;
    display: inline-block;
}

div.linkList{
    max-width: 800px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

li.assignmentLink{
    font-weight: 300;
    font-size: 1.05em;
    line-height: 130%;
}

li.assignmentLink > a{
    color: #f7f7f2;
}

li.assignmentLink > a:hover{
    background-color: #FFFF00;
}

/*  I grabbed the responsive column css info from www.responsivegridsystem.com, in case anyone was wondering  */
/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF TWO COLUMNS  */
.span_2_of_2 {
    width: 100%;
}
.span_1_of_2 {
    width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col { margin: 1% 0 1% 0%;}
    .span_2_of_2, .span_1_of_2 { width: 100%; }
}
